.Hashtag {
  margin-right: 0.7rem;
  margin-bottom: 0.55rem;
  background-color: #e7f3fa;
  padding: 6px 17px;
  display: inline-block;
  border-radius: 17px;
  box-sizing: border-box;
  cursor: pointer;
  color: #377ab5;
  text-decoration: none;
  font-size: 14px;
}

.Hashtag:hover {
  background-color: #d9ecf7;
}

.Hashtag.active {
  background-color: rgb(26, 145, 218);
  color: #fff;
}